<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ILonData" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8881/LonDataService" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_ILonData" contract="LonDataReference.ILonData"
                name="BasicHttpBinding_ILonData" />
        </client>
    </system.serviceModel>
</configuration>